<!-- Logback Configuration. See http://logback.qos.ch/ -->
<!-- scan configuration for changes enable it by setting it to true -->
<configuration scan="true" scanPeriod="10 seconds">

    <!--    <property resource="nuvla.properties"/>-->

    <!-- Console (STDOUT) output. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <!-- Only print log messages at level WARN or higher. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <!-- Default encoder is ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <!-- two-line layout suitable for a terminal -->
            <pattern>%date - %-5level - %logger - [%thread] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- The output file configuration for log/all.log -->
    <!--    <appender name="ALL_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->

    <!--        &lt;!&ndash; Default encoder is ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
    <!--        <encoder>-->
    <!--            <pattern>%date{HH:mm:ss.SSS} %-5level %logger{25}: %msg %X thread=%thread%n</pattern>-->
    <!--        </encoder>-->

    <!--        &lt;!&ndash; Default location of log file is log/all.log &ndash;&gt;-->
    <!--        <file>log/all.log</file>-->

    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash; Roll over log files daily &ndash;&gt;-->
    <!--            <fileNamePattern>log/all.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->

    <!--            &lt;!&ndash; And start a new file every 64 MB &ndash;&gt;-->
    <!--            <maxFileSize>64 MB</maxFileSize>-->

    <!--            &lt;!&ndash; Keep at most 15 days of history &ndash;&gt;-->
    <!--            <maxHistory>15</maxHistory>-->

    <!--            &lt;!&ndash; Up to a maximum of 512 MB &ndash;&gt;-->
    <!--            <totalSizeCap>512MB</totalSizeCap>-->

    <!--            &lt;!&ndash; Ensure short-lived processes still clean up old logs &ndash;&gt;-->
    <!--            <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
    <!--        </rollingPolicy>-->
    <!--    </appender>-->


    <!-- The output file configuration for log/app.log -->
    <!--    <appender name="APP_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->

    <!--        &lt;!&ndash; Default encoder is ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
    <!--        <encoder>-->
    <!--            <pattern>%date{HH:mm:ss.SSS} %-5level %logger{25}: %msg %X thread=%thread%n</pattern>-->
    <!--        </encoder>-->

    <!--        &lt;!&ndash; Default location of log file is log/app.log &ndash;&gt;-->
    <!--        <file>log/app.log</file>-->

    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash; Roll over log files daily &ndash;&gt;-->
    <!--            <fileNamePattern>log/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->

    <!--            &lt;!&ndash; And start a new file every 64 MB &ndash;&gt;-->
    <!--            <maxFileSize>64 MB</maxFileSize>-->

    <!--            &lt;!&ndash; Keep at most 15 days of history &ndash;&gt;-->
    <!--            <maxHistory>15</maxHistory>-->

    <!--            &lt;!&ndash; Up to a maximum of 512 MB &ndash;&gt;-->
    <!--            <totalSizeCap>512MB</totalSizeCap>-->

    <!--            &lt;!&ndash; Ensure short-lived processes still clean up old logs &ndash;&gt;-->
    <!--            <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
    <!--        </rollingPolicy>-->
    <!--    </appender>-->


    <!-- Root log level is "ALL", meaning all log levels are emitted. -->
    <root level="ALL">

        <!-- Send all log messages to console (filtered to WARN) -->
        <appender-ref ref="CONSOLE"/>

        <!--        &lt;!&ndash; Send all log messages to log/all.log &ndash;&gt;-->
        <!--        <appender-ref ref="ALL_LOG_FILE" />-->
    </root>


    <!-- Log messages from your application will be included in
         log/all.log. In addition, we will send just messages from your
         application to log/app.log -->
    <!--    <logger name="${app_root_logger:-com.example.application}" level="ALL">-->
    <!--        <appender-ref ref="APP_LOG_FILE" />-->
    <!--    </logger>-->

    <!-- If you have a REPL or interactive shell with a logger named
         'user' or 'dev', send those messages to log/app.log too. -->
    <!--    <logger name="user" level="ALL">-->
    <!--        <appender-ref ref="APP_LOG_FILE" />-->
    <!--    </logger>-->
    <!--    <logger name="dev" level="ALL">-->
    <!--        <appender-ref ref="APP_LOG_FILE" />-->
    <!--    </logger>-->


    <!-- Make java.util.logging more efficient at disabled levels.
         See http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>
